* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #d8ae5e;
  --color-secondary: #e7d49e;
  --color-white: #f7f8fa;
  --color-black: #252525;

  --transition: all 400ms ease;
}
